<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h2>Contact Us</h2>
            <p>Email: info@neubee.com</p>
            <p>Phone: +47 70 70 70 70</p>
        </div>
        <div class="footer-section">
            <div class="footer-logo">
                <h1>NeuBee</h1>
                <img class="bee" src="media/bee.svg" alt="NeuBee Logo">
            </div>
            <p>Your platform for free online courses</p>
            <p>Provided by</p>
            <div class="learniverse-footer-logo">
                <img class="logo-footer" src="media/learniverse.svg" alt="Connect">
                <h4 class="learniverse-logo">Learniverse</h4>
            </div>
        </div>
        <div class="footer-section">
            <h2>Follow Us</h2>
            <a href="#" target="_blank">Facebook</a>
            <a href="#" target="_blank">Twitter</a>
            <a href="#" target="_blank">Instagram</a>
        </div>
    </div>
</footer>